.box {
  max-width: 418px;
  background-color: white;
  padding: 24px, 21px, 0, 21px;
  box-shadow: 0px 4px 10px 0px #bbe1fa40;
  padding-left: 23px;
}

.desc {
  max-width: 368px;
  padding-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38.19px;
  margin-bottom: 17px;
  margin-top: 15px;
}

.details {
  display: flex;
  gap: 26px;
  margin-bottom: 11px;
}
